{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="box">
            <div class="left"></div>
            <div class="right">
                <h2>Add Book</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn" type="submit" value="Add Book">
                </form>
            </div>
        </div>
    </div>

{% endblock %}