{% extends 'base/base.html' %}
{% block content %}
    <table>
        {% if books %}
            {% for book in books %}
                {% if book.id|divisibleby:3 %}
                    <tr><br></tr>
                {% endif %}
                <td>
                    <div class="book-container">
                        <div class="book-box">
                            <div class="book-img">
                                <img src="{{ book.img.url }}" alt="">
                            </div>
                            <div class="book-content">
                                <div>
                                    <h2>{{ book.book_name }}</h2>
                                    <p>{{ book.desc }}</p>
                                    <p>{{ book.author }}</p>
                                    <p>{{ book.publish_date }}</p>
                                    <a href="{% url 'edit_book' book.id %}">Update</a>
                                    <a href="{% url 'delete_book' book.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            {% endfor %}
        {% endif %}
    </table>
{% endblock %}